<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <h1>Get Event</h1>
  <body>
    <form action="/userGetEvent" method="post">
      <select name="selectevent">
        <% for (x in listEvent){%>
        <option value="<%=listEvent[x]._id%>">
          <%=listEvent[x].eventname%> [Age <%=listEvent[x].eventminage%> -
          <%=listEvent[x].eventmaxage%>] [DATE <%=listEvent[x].eventstartdate%>
          to <%=listEvent[x].eventenddate%>]
        </option>
        <%}%>
      </select>
      <button type="submit">Submit</button>
    </form>
    <form>
      <button formaction="/">home</button>
    </form>
  </body>
  <style>
    body {
      margin: auto;
      width: 50%;
      background-color: antiquewhite;
    }
  </style>
</html>
